$almostBlack: #241734;
$darkBlue: #2e2157;
$justPink: #f706cf;
$accentRed: #fd1d53;
$french-rose: #fd3777ff;
$tekhelet: #631a86ff;
$maize: #ffe74cff;
$turquoise: #3bceacff;
$argentinian-blue: #35a7ffff;
