@import '../../styles/main.scss';

.Wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60vh 150px 1fr;
  justify-items: center;
  align-content: center;
  background-color: $almostBlack;
  padding-bottom: 5rem;

  .MapWrapper {
    width: 100%;
  }

  .AddLocation {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 50%;

    .Autocomplete {
      background-color: transparent;
      flex-grow: 1;
      border: none;
      outline: none;
      box-shadow: 0 0 0 3px $french-rose;
      border-radius: 35px;
      padding: 1rem;
      color: $turquoise;
      font-size: 16px;
    }
  }
}
