.Wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60vh 150px 1fr;
  justify-items: center;
  align-content: center;

  .MapWrapper {
    width: 100%;
    background-color: blue;
  }

  .AddLocation {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 50%;

    .Autocomplete {
      background-color: transparent;
      flex-grow: 1;
      border: none;
      outline: none;
      border-bottom: 1px solid black;
    }
  }
}
